body{
    font-family: Arial;
    background:#eef2f7;
    padding:20px;
    text-align:center;
}

h2{
    margin-bottom:10px;
}

select, input{
    padding:10px;
    margin:5px;
    width:250px;
}

button{
    padding:10px;
    width:270px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

#cardContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

/* CARD */
.card{
    width:320px;
    background:white;
    border-radius:10px;
    padding:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:left;
    position:relative;
}

.header{
    background:#007bff;
    color:white;
    padding:8px;
    text-align:center;
    border-radius:8px;
    font-weight:bold;
}

.info{
    font-size:14px;
    margin-top:10px;
}

.info p{
    margin:4px 0;
}

/* SIGNATURE */
.signature{
    position:absolute;
    bottom:10px;
    right:15px;
    text-align:center;
    font-size:12px;
}

.signature-line{
    border-top:1px solid #000;
    width:120px;
    margin-top:25px;
}

/* BUTTON */
.download{
    margin-top:10px;
    background:green;
    width:100%;
}