body{
    font-family: sans-serif;
    background:#f4f6f9;
    text-align:center;
    padding:20px;
}

.header{
    background:#2c3e50;
    color:white;
    padding:10px;
    border-radius:8px;
}

.search-box, .form{
    margin:15px auto;
}

input, select, button{
    padding:10px;
    margin:5px;
    width:200px;
}

button{
    background:#3498db;
    color:white;
    border:none;
    cursor:pointer;
}

/* CARD */
.card{
    width:350px;
    margin:20px auto;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card.teacher{
    border-top:10px solid #2980b9;
}

.card.employee{
    border-top:10px solid #16a085;
}

.card.student{
    border-top:10px solid #8e44ad;
}

.card-header{
    background:#ecf0f1;
    padding:10px;
}

.card-body{
    text-align:left;
    padding:10px;
}

.card-footer{
    background:#f1f1f1;
    padding:10px;
    font-size:12px;
}

.qr{
    margin-top:10px;
}

.back{
    background:#2c3e50;
    color:white;
    padding:10px;
    font-size:12px;
}